footer.footer
  .container
    .row
      .col-3
        .footer-logo
          a(href="#")
            img(src="./static/i/general/logo.svg" width="230" height="37" alt="Commito")
        .copyright © Commito 2018
      .col-3
        .footer-unit
          .footer-menu-title Продукт
          ul.footer-menu
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Расчёт KPI и зарплаты
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Шаблоны KPI и база знаний
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Индивидуальная доработка Commito для вас
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Встраиваемые информеры
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Интеграции и API
      .col-3
        .footer-unit
          .footer-menu-title О компании
          ul.footer-menu
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Контакты
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Лицензионное соглашение
            li.footer-menu__item
              a.footer-link.footer-menu__link(href="#") Политика конфиденциальности
          .footer-menu-title
            a.footer-menu-title__link(href="#") Партнёрская программа
      .col-3
        .footer-unit
          .contacts-number
            a.contacts-number__link(href="#") +7 (495) 787 68 57
          .contacts-email
            a.footer-link.contacts-email__link(href="mailto:support@commito.ru") support@commito.ru
          .socials.footer-socials
            a.socials__link(href="#")
              i.fab.fa-facebook-f
            a.socials__link(href="#")
              i.fab.fa-vk
            a.socials__link(href="#")
              i.fab.fa-google-plus-g