header.header
  .container
    .navbar
      a.navbar-brand(href="#")
        img(src="./static/i/general/logo.svg" width="230" height="37" alt="Commito")
      .navbar-left
        .navbar-phone
          a(href="#")
            +icon('phone')
            span.number +7 (495) 787 68 57
      .navbar-right
        button.btn.btn-auth.btn-signup#landing-register-action(type="button" data-toggle="modal" data-target="#popup-auth") Регистрация
        button.btn.btn-auth.btn-login#landing-login-action(type="button" data-toggle="modal" data-target="#popup-auth") Вход
        .navbar-lang.dropdown
          button.btn.btn-lang-toggle.dropdown-toggle#langDropdown(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            img.lang-flag(src="./static/i/general/flags/ru.svg" alt="Русский")
            +icon("caret")
          .dropdown-menu(aria-labelledby="langDropdown")
            a.dropdown-item(href="#" title="English")
              img.lang-flag(src="./static/i/general/flags/gb.svg" alt="English")
            a.dropdown-item(href="#" title="Русский")
              img.lang-flag(src="./static/i/general/flags/ru.svg" alt="Русский")
            a.dropdown-item(href="#" title="Deutsch")
              img.lang-flag(src="./static/i/general/flags/de.svg" alt="Deutsch")