section.section.section-integrations
  .integrations-list
    .container
      .decor-orb
      .integrations-content
        .module
          img(src="./static/i/general/icon-available-integrations.svg" alt="")
        .title Доступные интеграции
        .text
          p Виджеты-интеграции доступны в&nbsp;витринах интеграций соответствующих систем. А&nbsp;если у&nbsp;ваша система уникальна и&nbsp;была разработана специально для вас, её&nbsp;можно интегрировать с&nbsp;помощью нашего развитого API.
      .integrations-item.integrations-item--bitrix24
        img(src="./static/i/general/integrations/logo-bitrix24.svg" alt="")
      .integrations-item.integrations-item--mailchimp
        img(src="./static/i/general/integrations/logo-mailchimp.svg" alt="")
      .integrations-item.integrations-item--megaplan
        img(src="./static/i/general/integrations/logo-megaplan.svg" alt="")
      .integrations-item.integrations-item--amocrm
        img(src="./static/i/general/integrations/logo-amocrm.svg" alt="")
      .integrations-item.integrations-item--asana
        img(src="./static/i/general/integrations/logo-asana.svg" alt="")
      .integrations-item.integrations-item--trello
        img(src="./static/i/general/integrations/logo-trello.svg" alt="")
      .integrations-item.integrations-item--jira
        img(src="./static/i/general/integrations/logo-jira.svg" alt="")
      .integrations-item.integrations-item--1s
        img(src="./static/i/general/integrations/logo-1s.svg" alt="")
      .integrations-item.integrations-item--slack
        img(src="./static/i/general/integrations/logo-slack.svg" alt="")
      .integrations-item.integrations-item--pipedrive
        img(src="./static/i/general/integrations/logo-pipedrive.svg" alt="")
      .integrations-item.integrations-item--pizza
        img(src="./static/i/general/integrations/logo-pizza.svg" alt="")
        .integrations-item__note
          | Интеграция с вашим любимым инструментом — 
          a(href="#") по щелчку пальца