section.section.section-intro
  .container
    .intro-container.row.no-gutters
      .col-4
        .intro-content
          .intro-title Изменяйте KPI автоматически
          .intro-text Развивайте сотрудников и платите зарплату по факту
          .intro-button
            a.btn.btn-intro(href="#") Начать сейчас
      .col-6.offset-2
        .intro-screenshot
          img(src="./static/i/content/intro-screenshot.jpg" alt="")
    .intro-social
      a.intro-social__link(href="#")
        i.fab.fa-facebook-f
      a.intro-social__link(href="#")
        i.fab.fa-vk
      a.intro-social__link(href="#")
        i.fab.fa-google-plus-g
    .intro-scroll-tip
      .intro-scroll-tip__inner
        +icon("arrow-left")
        | scroll down