section.section.section-advantages
  .section-advantages-inner
    .container
      .row.no-gutters
        .col-3.offset-1
          .nav.advantages-pills#advantagesPills(role="tablist" aria-orientation="vertical")
            a.nav-link.advantages-pill.active#pill-forecast(data-toggle="pill" href="#forecast" role="tab" aria-controls="forecast" aria-selected="false")
              .advantages-pill__icon
                img(src="./static/i/general/icon-advantages-forecast.svg" alt="")
              .advantages-pill__name Прогноз даже в начале и середине месяца
            a.nav-link.advantages-pill#pill-history(data-toggle="pill" href="#history" role="tab" aria-controls="history" aria-selected="false")
              .advantages-pill__icon
                img(src="./static/i/general/icon-advantages-history.svg" alt="")
              .advantages-pill__name История эффективности сотрудников
            a.nav-link.advantages-pill#pill-purposes(data-toggle="pill" href="#purposes" role="tab" aria-controls="purposes" aria-selected="false")
              .advantages-pill__icon
                img(src="./static/i/general/icon-advantages-purposes.svg" alt="")
              .advantages-pill__name Цели на месяц, квартал, и год
            a.nav-link.advantages-pill#pill-settings(data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false")
              .advantages-pill__icon
                img(src="./static/i/general/icon-advantages-settings.svg" alt="")
              .advantages-pill__name Гибкие настройки доступа
        .col-8
          .advantages-content.tab-content#advantagesContent
            .tab-pane.fade.show.active#forecast(role="tabpanel" aria-labelledby="pill-forecast")
              .advantages-screenshot
                img(src="./static/i/content/advantages-screenshot-forecast.jpg" srcset="./static/i/content/advantages-screenshot-forecast.jpg 1x, ./static/i/content/advantages-screenshot-forecast@2x.jpg 2x" alt="" role="presentation")
            .tab-pane.fade#history(role="tabpanel" aria-labelledby="pill-history")
              .advantages-screenshot
                img(src="./static/i/content/advantages-screenshot-history.jpg" srcset="./static/i/content/advantages-screenshot-history.jpg 1x, ./static/i/content/advantages-screenshot-history@2x.jpg 2x" alt="" role="presentation")
            .tab-pane.fade#purposes(role="tabpanel" aria-labelledby="pill-purposes")
              .advantages-screenshot
                img(src="./static/i/content/advantages-screenshot-purposes.jpg" srcset="./static/i/content/advantages-screenshot-purposes.jpg 1x, ./static/i/content/advantages-screenshot-purposes@2x.jpg 2x" alt="" role="presentation")
            .tab-pane.fade#settings(role="tabpanel" aria-labelledby="pill-settings")
              .advantages-screenshot
                img(src="./static/i/content/advantages-screenshot-settings.jpg" srcset="./static/i/content/advantages-screenshot-settings.jpg 1x, ./static/i/content/advantages-screenshot-settings@2x.jpg 2x" alt="" role="presentation")
