section.section.section-system
  .system
    .container
      .title.section-system-title Как работает Commito
      ul.system-labels
        li.system-labels__item Импорт данных
        li.system-labels__item Расчёт показателей
        li.system-labels__item Контроль показателей
      .system-container
        .system-spot
        .system-waves
        .system-core
          img(src="./static/i/general/system-core.png" srcset="./static/i/general/system-core.png 1x, ./static/i/general/system-core@2x.png 2x" alt="" role="presentation")
        .system-items
          .system-item.system-item--item-1
            .system-item__icon
              img(src="./static/i/general/icon-system-assessment.svg" alt="")
            .system-item__name
              | Системы
              br
              | ассесмента
          .system-item.system-item--item-2
            .system-item__icon
              img(src="./static/i/general/icon-system-telephony.svg" alt="")
            .system-item__name
              | Телефония
          .system-item.system-item--item-3
            .system-item__icon
              img(src="./static/i/general/icon-system-crm.svg" alt="")
            .system-item__name
              | CRM
          .system-item.system-item--item-4
            .system-item__icon
              img(src="./static/i/general/icon-system-trackers.svg" alt="")
            .system-item__name
              | Трекеры
              br
              | задач
          .system-item.system-item--item-5
            .system-item__icon
              img(src="./static/i/general/icon-system-account.svg" alt="")
            .system-item__name
              | ЛК Commito
          .system-item.system-item--item-6
            .system-item__icon
              img(src="./static/i/general/icon-system-reports.svg" alt="")
            .system-item__name
              | Отчёты
              br
              | по e-mail
          .system-item.system-item--item-7
            .system-item__icon
              img(src="./static/i/general/icon-system-informer.svg" alt="")
            .system-item__name
              | Информер
              br
              | в CRM