section.section.section-reviews
  .container
    .row.no-gutters
      .col-3
        .reviews-header
          .title Что говорят наши клиенты
          .text
            p Более 500 компаний используют Commito по&nbsp;всему миру.
      .col-9
        .reviews-slider
          .reviews-item.carousel-cell
            .reviews-item__head
              .reviews-item__person-pic
                img(src="https://picsum.photos/90/90?photo=11" alt="")
                span.src-icon.src-icon--facebook
                  i.fab.fa-facebook-f
              .reviews-item__person
                .reviews-item__name Анна Артамонова
                .reviews-item__post Vice President, Mail.Ru Group
            .reviews-item__body
              .reviews-item__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          .reviews-item.carousel-cell
            .reviews-item__head
              .reviews-item__person-pic
                img(src="https://picsum.photos/90/90?photo=12" alt="")
                span.src-icon.src-icon--twitter
                  i.fab.fa-twitter
              .reviews-item__person
                .reviews-item__name Андрей Себрант
                .reviews-item__post CTO, Яндекс
            .reviews-item__body
              .reviews-item__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          .reviews-item.carousel-cell
            .reviews-item__head
              .reviews-item__person-pic
                img(src="https://picsum.photos/90/90?photo=13" alt="")
                span.src-icon.src-icon--vk
                  i.fab.fa-vk
              .reviews-item__person
                .reviews-item__name Андрей Себрант
                .reviews-item__post CTO, Яндекс
            .reviews-item__body
              .reviews-item__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet.
          .reviews-item.carousel-cell
            .reviews-item__head
              .reviews-item__person-pic
                img(src="https://picsum.photos/90/90?photo=14" alt="")
                span.src-icon.src-icon--google-plus
                  i.fab.fa-google-plus-g
              .reviews-item__person
                .reviews-item__name Андрей Себрант
                .reviews-item__post CTO, Яндекс
            .reviews-item__body
              .reviews-item__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.