section.section.section-features
  .features-block.features-block--knowledge
    .container
      .features-block-decor
        img(src="./static/i/general/features-knowledge-pic.png" srcset="./static/i/general/features-knowledge-pic.png 1x, ./static/i/general/features-knowledge-pic@2x.png 2x" alt="")
      .row
        .col-5.offset-1
          .features-block-content
            .features-block__module.module Шаблоны KPI и база знаний
            .features-block__title.title Вы&nbsp;справитесь, даже если не&nbsp;сталкивались с&nbsp;KPI
            .features-block__text.text
              p Показатели эффективности, используемые в&nbsp;системе, разработаны на&nbsp;основе реального опыта внедрений KPI в&nbsp;различных компаниях. Даже если для вас это первый опыт внедрения, для вас оно пройдёт легко и&nbsp;прозрачно. Для этого в&nbsp;системе есть шаблоны схем мотивации для различных отраслей и&nbsp;отделов, а&nbsp;также база знаний с&nbsp;описанием лучших практик по&nbsp;использованию KPI.
            a.btn.btn-primary(href="#") Попробовать бесплатно

  .features-block.features-block--customization
    .container
      .customization-content.row.no-gutters
        .col-5
          .features-block-pic
            img(src="./static/i/general/features-customization-pic.png" srcset="./static/i/general/features-customization-pic.png 1x, ./static/i/general/features-customization-pic@2x.png 2x" alt="")
        .col-7
          .features-block-content
            .features-block__module.module Индивидуальная доработка Commito для вас
            .features-block__title.title
              | Учтем все тонкости ваших
              br
              | бизнес-процессов
            .features-block__text.text
              p Система рассчитывает более 30&nbsp;готовых показателей, и&nbsp;мы&nbsp;готовы оперативно добавлять новые, если они вам потребуются.
              p Проявлять гибкий подход нам позволяет&nbsp;то, что над Commito работает команда с&nbsp;более, чем 10&nbsp;летним опытом разработки программных продуктов.
    .customization-schemes
      img(src="./static/i/general/customization-schemes.png" srcset="./static/i/general/customization-schemes.png 1x, ./static/i/general/customization-schemes@2x.png 2x" alt="")
    .features-block-footer
      .features-block-footer__button
        a.btn.btn-primary(href="#") Попробовать
      .features-block-footer__note 14 дней бесплатно

  .features-block.features-block--widgets
    .container
      .row
        .col-5
          .features-block-content
            .features-block__module.module Встраиваемые виджеты и информеры
            .features-block__title.title Следите за&nbsp;показателями в&nbsp;привычных вам системах
            .features-block__text.text
              p Сотрудники смогут просматривать свои ключевые показатели, не&nbsp;выходя из&nbsp;систем, в&nbsp;которых они постоянно работают (например, в&nbsp;CRM).
        .col-7
          .features-block-pic
            img(src="./static/i/content/features-widgets-pic.png" srcset="./static/i/content/features-widgets-pic.png 1x, ./static/i/content/features-widgets-pic@2x.png 2x" alt="")
  
  .features-block.features-block--integrations
    .container
      .features-block-decor
        img(src="./static/i/general/features-integrations-pic.png" srcset="./static/i/general/features-integrations-pic.png 1x, ./static/i/general/features-integrations-pic@2x.png 2x" alt="")
        .decor-orb
      .row
        .col-5.offset-6
          .features-block-content
            .features-block__module.module Интеграции и API
            .features-block__title.title Обменивайтесь данными со&nbsp;всеми нужными системами компании
            .features-block__text.text
              p Коммито подключается к&nbsp;различным системам компании при помощи виджетов интеграции или API и&nbsp;импортирует необходимые для расчетов данные в&nbsp;автоматическом режиме.