section.section.section-system
  .container
    .section-title Как работает Commito
  .system
    .system-decor
    .container
      .system-core
        img(src="./static/i/general/system-core.png" width="590" height="408" alt="")
      .system-items
        .system-item.system-item--assessment
          .system-item__icon
            img(src="./static/i/general/icon-system-assessment.svg" alt="")
          .system-item__name
            | Системы
            br
            | ассесмента
        .system-item.system-item--crm
          .system-item__icon
            img(src="./static/i/general/icon-system-crm.svg" alt="")
          .system-item__name
            | CRM
        .system-item.system-item--telephony
          .system-item__icon
            img(src="./static/i/general/icon-system-telephony.svg" alt="")
          .system-item__name
            | Телефония
        .system-item.system-item--trackers
          .system-item__icon
            img(src="./static/i/general/icon-system-trackers.svg" alt="")
          .system-item__name
            | Трекеры
            br
            | задач
        .system-item.system-item--account
          .system-item__icon
            img(src="./static/i/general/icon-system-account.svg" alt="")
          .system-item__name
            | ЛК Commito
        .system-item.system-item--reports
          .system-item__icon
            img(src="./static/i/general/icon-system-reports.svg" alt="")
          .system-item__name
            | Отчёты
            br
            | по e-mail
        .system-item.system-item--informer
          .system-item__icon
            img(src="./static/i/general/icon-system-informer.svg" alt="")
          .system-item__name
            | Информер
            br
            | в CRM