.header {
  left: 0;
  // position: fixed;
  position: absolute;
  top: 0;
  // transform: translateY(0);
  // transition: transform 0.3s;
  width: 100%;
  z-index: $zindex-fixed;

  // &.is-hidden {
  //   transform: translateY(-100%);
  // }
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}

.navbar-left {
  margin-right: auto;
}

.navbar-right {
  display: flex;
  margin-left: auto;
}

.navbar-brand {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.navbar-phone {
  font-size: 17px;
  font-weight: 500;

  a {
    color: #fff !important;
  }

  .icon-phone {
    @include size(16px);
    fill: #fff;
    margin-right: 6px;
    vertical-align: middle;
  }

  .number {
    vertical-align: middle;
  }
}

.navbar-lang {
  margin-left: 12px;

  .lang-flag {
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    display: block;
    width: 19px;
  }
}