.header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  z-index: $zindex-fixed;

  &--unpinned {
    transform: translateY(-100%);
  }

  &--pinned {
    transform: translateY(0);
  }

  &--affixed {
    backdrop-filter: blur(5px);
    background-color: rgba(#fff, 0.78);
    position: fixed;

    .navbar {
      color: $dark;
      justify-content: flex-end;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .navbar-brand {
      @include size(63px, 33px);
      background-image: url('../i/general/logo-affixed.svg');
      left: 0;
      transform: translate(0, -50%);
    }

    .navbar-left,
    .navbar-right {
      margin: 0;
    }

    .navbar-phone {
      a {
        color: $dark !important;
      }

      .icon-phone {
        fill: $dark;
      }
    }

    .btn-signup {
      @include button-variant($background: $green, $border: $green, $hover-background: darken($green, 7.5%), $active-background: darken($green, 10%));
      color: #fff !important;
    }

    .btn-login {
      @include button-variant($background: rgba($border-color, 0), $border: $border-color, $hover-background: $border-color, $active-background: darken($border-color, 2.5%));
      color: $dark !important;
    }
  }
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}

.navbar-left {
  margin-right: auto;
}

.navbar-right {
  display: flex;
  margin-left: auto;
}

.navbar-brand {
  @include absolute-center;
  @include size(230px, 37px);
  background-image: url('../i/general/logo.svg');
  background-repeat: no-repeat;
  text-indent: -9999px;
  transition: none;
}

.navbar-phone {
  font-size: rem(17);
  font-weight: 500;

  a {
    color: #fff !important;
  }

  .icon-phone {
    @include size(16px);
    fill: #fff;
    margin-right: 6px;
    vertical-align: middle;
  }

  .number {
    vertical-align: middle;
  }
}

.navbar-lang {
  margin-left: 12px;

  .lang-flag {
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    display: block;
    width: 19px;
  }
}