html,
body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
.header {
  // TODO: temporary for non-responsive
  min-width: 1280px;
}

.container {
  // TODO: temporary for non-responsive
  min-width: get-container-max-width(xl);
}