.section-system {
  padding-top: 70px;
  padding-bottom: 120px;
}

.section-system-title {
  font-size: rem(36);
  margin-bottom: 0.85em;
  position: relative;
  text-align: center;
  z-index: 2;
}

.system-labels {
  @include list-unstyled;
  display: flex;
  margin-bottom: 10px;

  &__item {
    color: $light;
    font-size: 1rem;
    text-align: center;
    width: 33.3333%;
  }
}

.system-container {
  height: 596px;
  position: relative;
}

.system-spot {
  @include size(853px, 701px);
  @include absolute-center;
  background-image: url('../i/general/system-spot.svg');
  background-repeat: no-repeat;
  margin: 66px 0 0 -440px;
}

.system-waves {
  @include size(1256px);
  @include absolute-center;
  background-image: url('../i/general/system-waves.svg');
  background-repeat: no-repeat;
}

.system-core {
  @include size(452px, 314px);
  @include absolute-center;
  margin: -4px 0 0 -20px;
}

.system-item {
  align-items: center;
  display: flex;
  left: 50%;
  position: absolute;
  white-space: nowrap;

  &__icon {
    @include size(85px);
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
  }

  &__name {
    color: $purple;
    font-size: rem(15);
    font-weight: 500;
    margin-left: 24px;
  }

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    flex-direction: row-reverse;

    .system-item__icon {
      @include size(102px);
      box-shadow: 0 30px 40px rgba(0, 0, 0, 0.08);
    }

    .system-item__name {
      color: $light;
      margin: 0 24px 0 0;
      text-align: right;
    }
  }

  &--item-1 {
    margin-left: -34.5%;
    top: 13.5%;

    .system-item__icon img {
      transform: translate(-1px, 3px);
    }
  }

  &--item-2 {
    margin-left: -49%;
    top: 30%;
  }

  &--item-3 {
    margin-left: -36%;
    top: 54%;
  }

  &--item-4 {
    margin-left: -44%;
    top: 80%;

    .system-item__icon img {
      transform: translate(4px, 1px);
    }
  }

  &--item-5 {
    margin-left: 16.5%;
    top: 14.5%;
  }

  &--item-6 {
    margin-left: 29%;
    top: 45%;
  }

  &--item-7 {
    margin-left: 21.5%;
    top: 80%;
  }
}