.section-features {
  margin-top: -30px;
  overflow: hidden;
}

.features-block {
  position: relative;

  &__module {
    margin-bottom: 1.5em;
  }

  &__title {
    margin-bottom: 1em;
  }

  &__text {
    margin-right: 40px;
    margin-bottom: 2.15em;
  }

  &--knowledge {
    padding-top: 235px;
    padding-bottom: 180px;

    > .container {
      position: relative;
    }

    .features-block-decor {
      left: 582px;
      top: -192px;

      &::before {
        @include size(999px, 846px);
        background-image: url('../i/general/features-knowledge-decor.svg');
        background-repeat: no-repeat;
        content: '';
        left: 68px;
        position: absolute;
        top: -42px;
        z-index: -1;
      }
    }

    .features-block-content {
      margin-right: 30px;
    }
  }

  &--customization {
    padding-top: 170px;

    &::before {
      background-image: url('../i/general/features-customization-decor.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: '';
      height: 1066px;
      left: 0;
      position: absolute;
      right: 0;
      top: -66px;
      z-index: -1;
    }

    .features-block-pic {
      margin: 34px 0 0 18px;
    }

    .features-block-content {
      margin-left: 36px;
    }

    .features-block__text {
      columns: 2 auto;
      column-gap: $grid-gutter-width;
      margin-right: 0;
      width: 592px;

      p {
        margin-right: $grid-gutter-width*2;
        page-break-inside: avoid;
      }
    }
  }

  &--widgets {
    padding-top: 60px;

    .features-block-content {
      margin-top: 200px;
    }

    .features-block__title {
      color: #FFF;
    }

    .features-block__text {
      color: #C0D0DE;
    }

    .features-block-pic {
      margin-left: 20px;
    }
  }

  &--integrations {
    padding-top: 105px;
    padding-bottom: 200px;

    > .container {
      position: relative;
    }

    .features-block-decor {
      left: -118px;
      top: -48px;

      &::before {
        @include size(964px, 1295px);
        background-image: url('../i/general/features-integrations-decor.svg');
        background-repeat: no-repeat;
        content: '';
        left: -218px;
        position: absolute;
        top: -755px;
        z-index: -1;
      }

      .decor-orb {
        @include size(57px);
        background-image: linear-gradient(60deg, rgba(#C463BE, 1) 0%, rgba(#C463BE, 1) 22%, rgba(#C463BE, 0) 100%);
        background-repeat: no-repeat;
        border-radius: 50%;
        left: 256px;
        position: absolute;
        top: -676px;
      }
    }
  }
}

.features-block-decor {
  position: absolute;
}

.customization-content {
  margin-bottom: 65px;
}

.customization-schemes {
  height: 294px;
  margin-bottom: 70px;
  position: relative;
  text-align: center;

  img {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.features-block-footer {
  text-align: center;

  &__button {
    margin-bottom: 15px;
  }

  &__note {
    color: $light;
    font-size: rem(15);
  }
}