.section-features {
  margin-top: -30px;
  overflow: hidden;
}

.features-block {
  position: relative;

  &__pretitle {
    color: $green;
    font-size: rem(15);
    font-weight: 500;
    line-height: 1.47;
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 1em;
  }

  &__text {
    font-size: rem(16);
    line-height: 1.5625;
    margin-bottom: 2.15em;
  }

  &--knowledge {
    padding-top: 235px;
    padding-bottom: 180px;

    > .container {
      position: relative;
    }

    .features-block-decor {
      left: 582px;
      top: -192px;

      &::before {
        @include size(999px, 846px);
        background-image: url('../i/general/features-knowledge-decor.svg');
        background-repeat: no-repeat;
        content: '';
        left: 68px;
        position: absolute;
        top: -42px;
        z-index: -1;
      }
    }

    .features-block-content {
      margin-right: 30px;
    }

    .features-block__text {
      margin-right: rem(16);
    }
  }

  &--customization {
    padding-top: 170px;
    padding-bottom: 500px;

    &::before {
      background-image: url('../i/general/features-customization-decor.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: '';
      height: 1066px;
      left: 0;
      position: absolute;
      right: 0;
      top: -66px;
      z-index: -1;
    }

    .features-block-pic {
      margin: 34px 0 0 18px;
    }

    .features-block-content {
      margin-left: 36px;
    }

    .features-block__text {
      columns: 2 auto;
      column-gap: $grid-gutter-width;
      width: 592px;

      p {
        margin-right: $grid-gutter-width*2;
        page-break-inside: avoid;
      }
    }
  }
}

.features-block-decor {
  position: absolute;
}