.section-intro {
  background-image: radial-gradient(circle at -6% -10%, #525EE6 0%, #323A8B 47%, #1B2048 80%);
  background-repeat: no-repeat;
  color: $white;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    left: 0;
    min-width: get-container-max-width(xl);
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &::before {
    background-image: url('../i/general/intro-bottom-decor.svg');
    bottom: -55px;
    height: 259px;
  }

  &::after {
    background-image: url('../i/general/intro-bottom.svg');
    bottom: 0;
    height: 104px;
  }
}

.section-intro-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding-top: 180px;
  padding-bottom: 140px;
  position: relative;

  > .container {
    padding-bottom: 115px;
    position: relative;
  }
}

.intro-content {
  margin-top: 75px;
}

.intro-title {
  font-size: rem(38);
  font-weight: 700;
  line-height: $headings-line-height;
  margin-bottom: 0.6em;
}

.intro-text {
  color: #C0D0DE;
  font-size: rem(19);
  font-weight: 500;
  line-height: 1.58;
  margin-bottom: 2.2em;
}

.intro-screenshot {
  img {
    border-radius: rem(6);
    box-shadow: 0 rem(25) rem(25) rgba(0, 0, 0, 0.19);
  }
}

.intro-screenshot-wrap {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    border-radius: 0 0 6px 6px;
    content: '';
    height: 18px;
    position: absolute;
    top: 100%;
    z-index: -1;
  }

  &::before {
    background-color: rgba($purple, 0.39);
    left: 16px;
    right: 16px;
  }

  &::after {
    background-color: rgba($purple, 0.11);
    left: 32px;
    margin-top: 18px;
    right: 32px;
  }
}

.intro-social {
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: $grid-gutter-width/2;

  &::before {
    @include size(122px, 2px);
    background-color: rgba($purple, 0.16);
    content: '';
    margin-right: 42px;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__link {
    @include size(32px);
    align-items: center;
    border-radius: 50%;
    color: $purple;
    display: flex;
    font-size: rem(16);
    justify-content: center;
    position: relative;

    + .intro-social__link {
      margin-left: 20px;
    }

    &::before {
      @include absolute-all(0);
      border: 2px solid rgba($purple, 0.17);
      border-radius: 50%;
      content: '';
      transition: $transition-base;
      z-index: -1;
    }

    &:hover {
      background-color: rgba($purple, 0.17);
      color: $purple;

      &::before {
        opacity: 0;
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-20px);
  }
	60% {
    transform: translateY(-10px);
  }
}

.intro-scroll-tip {
  align-items: center;
  animation: bounce 2s infinite ease-in-out;
  bottom: 0;
  color: $purple;
  display: flex;
  font-size: rem(14);
  font-weight: 500;
  left: $grid-gutter-width/2;
  position: absolute;
  white-space: nowrap;

  &__inner {
    transform: rotate(-90deg);
    transform-origin: 9px 50%;
  }

  .icon-arrow-left {
    @include size(55px, 10px);
    fill: $purple;
    margin-right: 7px;
  }
}

.intro-orb {
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;

  &--item-1 {
    @include size(22px);
    background-image: linear-gradient(45deg, rgba(#C463BE, 1), rgba(#C463BE, 0));
    left: percentage(98px / 1366px);
    top: 100px;
  }

  &--item-2 {
    @include size(80px);
    background-image: linear-gradient(45deg, rgba(#464EF2, 1), rgba(#464EF2, 0));
    filter: blur(5px);
    left: percentage(1302px / 1366px);
    top: 130px;
  }

  &--item-3 {
    @include size(19px);
    background-image: linear-gradient(45deg, rgba(#1EECC2, 1), rgba(#1EECC2, 0));
    left: percentage(747px / 1366px);
    top: 172px;
  }

  &--item-4 {
    @include size(24px);
    background-image: linear-gradient(45deg, rgba(#464EF2, 1), rgba(#464EF2, 0));
    left: percentage(659px / 1366px);
    top: 591px;
  }

  &--item-5 {
    @include size(16px);
    background-image: linear-gradient(45deg, rgba(#1EECC2, 1), rgba(#1EECC2, 0));
    left: percentage(308px / 1366px);
    top: 758px;
  }

  &--item-6 {
    @include size(28px);
    background-image: linear-gradient(45deg, rgba(#1EECC2, 1), rgba(#1EECC2, 0));
    left: percentage(812px / 1366px);
    top: 796px;
  }
}

.intro-dot {
  @include size(2px);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;

  &--item-1 {
    left: percentage(131px / 1366px);
    top: 166px;
  }

  &--item-2 {
    left: percentage(186px / 1366px);
    top: 593px;
  }

  &--item-3 {
    left: percentage(503px / 1366px);
    top: 143px;
  }

  &--item-4 {
    left: percentage(550px / 1366px);
    opacity: 0.33;
    top: 365px;
  }

  &--item-5 {
    left: percentage(518px / 1366px);
    opacity: 0.31;
    top: 96px;
  }

  &--item-6 {
    left: percentage(856px / 1366px);
    opacity: 0.23;
    top: 94px;
  }

  &--item-7 {
    left: percentage(1020px / 1366px);
    top: 137px;
  }

  &--item-8 {
    left: percentage(1246px / 1366px);
    opacity: 0.22;
    top: 158px;
  }
}