.section-features {
  overflow: hidden;
}

.features-block {
  position: relative;

  &__pretitle {
    color: $green;
    font-size: rem(15);
    font-weight: 500;
    line-height: 1.47;
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 0.82em;
  }

  &__text {
    font-size: rem(19);
    line-height: 1.58;
    margin-bottom: 2.15em;
  }

  &--knowledge {
    padding-top: 170px;
    padding-bottom: 180px;

    > .container {
      position: relative;
    }

    .features-block-content {
      margin-right: 30px;
    }

    .features-block-decor {
      left: 590px;
      top: -130px;

      &::before {
        @include size(1360px, 864px);
        background-image: url('../i/general/features-knowledge-decor.svg');
        background-repeat: no-repeat;
        content: '';
        left: 72px;
        position: absolute;
        top: -45px;
        z-index: -1;
      }
    }
  }

  &--customization {
    padding-top: 175px;
    padding-bottom: 500px;

    &::before {
      background-image: url('../i/general/features-customization-decor.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: '';
      height: 1066px;
      left: 0;
      position: absolute;
      right: 0;
      top: -55px;
      z-index: -1;
    }

    .features-block-pic {
      margin: 60px 0 0 -35px;
    }

    .features-block-content {
      margin-left: -10px;
    }

    .features-block__title {
      margin-bottom: 1.1em;
    }

    .features-block__text {
      columns: 2;
      column-gap: $grid-gutter-width;
      width: 92%;
    }
  }
}

.features-block-decor {
  position: absolute;
}