.section-roles {
  padding-top: 70px;
  padding-bottom: 70px;
}

.roles-tabs {
}

.roles-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .nav-link {
    border-radius: 100px;
    color: #B2B7C0;
    display: block;
    font-size: rem(19);
    font-weight: 500;
    margin: 0 rem(34);
    padding: rem(13) rem(26);

    &.active {
      background-color: #F0F6FB;
      color: $dark;
    }

    &:hover {
      color: $dark;
    }
  }
}

.roles-content {
  overflow: hidden;
}

.roles-side {
  display: flex;
  flex-direction: column;
  height: 410px;
  justify-content: flex-end;
}

.roles-side-speech {
  margin-bottom: 20px;

  &__head {
    color: $light;
    margin-bottom: 0.375em;
  }

  &__body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__item {
    background-color: #F0F6FB;
    border-radius: rem(8) rem(29) rem(29) rem(8);
    color: $headings-color;
    font-size: rem(19);
    line-height: 1.58;
    margin-left: -(rem(29));
    padding: rem(14) rem(29);

    + .roles-side-speech__item {
      margin-top: 4px;
    }

    &:first-child {
      border-top-left-radius: rem(29);
    }

    &:last-child {
      border-bottom-left-radius: rem(29);
    }

    &:first-child:last-child {
      border-radius: rem(29);
    }
  }

  &__load {
    display: flex;

    .loading-dot {
      @include size(12px);
      background-color: #E7F1F8;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}

.roles-side-person {
  text-align: center;
  width: 204px;

  &__pic {
    @include size(129px);
    border-radius: 50%;
    margin: 0 auto rem(16);
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  &__name {
    color: $headings-color;
    font-size: rem(23);
    font-weight: 500;
    margin-bottom: rem(3);
  }

  &__post {
    color: #AAB2BC;
  }
}