.btn-auth {
  color: $purple;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
  margin-left: 30px;
  padding: 0.688rem 1.17rem;
  position: relative;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }
  }
}

.btn-signup {
  background-color: rgba($purple, 0.2);

  &:hover {
    background-color: rgba(#161B42, 0.47);
  }
}

.btn-login {
  background-color: rgba($purple, 0);

  &::after {
    @include absolute-all(0);
    border: 2px solid $purple;
    border-radius: $btn-border-radius;
    content: '';
    transition: opacity .15s ease-in-out;
    z-index: -1;
  }

  &:hover {
    background-color: rgba($purple, 0.2);

    &::after {
      opacity: 0;
    }
  }
}

.btn-lang-toggle {
  background-color: transparent;
  color: $purple;
  height: 38px;
  line-height: 38px;
  padding: 0 1.17rem;
  position: relative;

  .icon-caret {
    fill: $purple;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include size(10px, 6px);
  }
}

.btn-intro {
  @include button-variant($background: #1EECC2, $border: #1EECC2, $hover-background: #1EECC2, $active-background: #1EECC2);
  box-shadow: 0 8px 20px rgba(30, 236, 194, 0.25);
  color: #fff !important;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.845rem 1.85rem;
}