.btn {
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none !important;
    }
  }
}

.btn-auth {
  color: $purple;
  font-size: rem(13);
  font-weight: 500;
  line-height: rem(16);
  margin-left: 30px;
  padding: rem(11) rem(18);
  position: relative;

  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($purple, .5);
  }
}

.btn-signup {
  background-color: rgba($purple, 0.2);

  &:hover {
    background-color: rgba(#161B42, 0.47);
  }
}

.btn-login {
  background-color: rgba($purple, 0);

  &::after {
    @include absolute-all(0);
    border: 2px solid $purple;
    border-radius: $btn-border-radius;
    content: '';
    transition: opacity .15s ease-in-out;
    z-index: -1;
  }

  &:hover {
    background-color: rgba($purple, 0.2);

    &::after {
      opacity: 0;
    }
  }
}

.btn-lang-toggle {
  background-color: transparent;
  box-shadow: none !important;
  color: $purple;
  height: 38px;
  line-height: 38px;
  padding: 0 rem(18);
  position: relative;

  .icon-caret {
    fill: $purple;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include size(10px, 6px);
  }
}

.btn-intro {
  @include button-variant($background: #1EECC2, $border: #1EECC2, $hover-background: darken(#1EECC2, 7.5%), $active-background: darken(#1EECC2, 10%));
  box-shadow: 0 8px 20px rgba(30, 236, 194, 0.25);
  color: #fff !important;
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.25;
  padding: rem(14) rem(30);
}

.btn-primary {
  color: #fff !important;
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.25;
  padding: rem(14) rem(30);
}

.btn-popup {
  color: #fff !important;
  font-size: rem(13);
  font-weight: 500;
  line-height: 18px;
  padding: rem(10) rem(20);
  position: relative;

  .fab {
    font-size: rem(16);
    left: 15px;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 20px;
  }

  &--login {
    width: 132px;
  }

  &--vk {
    @include button-variant($background: $bc-vkontakte, $border: $bc-vkontakte, $hover-background: darken($bc-vkontakte, 7.5%), $active-background: darken($bc-vkontakte, 10%));
  }

  &--facebook {
    @include button-variant($background: $bc-facebook, $border: $bc-facebook, $hover-background: darken($bc-facebook, 7.5%), $active-background: darken($bc-facebook, 10%));
  }
}