.btn {
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none !important;
    }
  }
}

.btn-auth {
  color: $purple !important;
  font-size: rem(13);
  font-weight: 500;
  line-height: 18px;
  margin-left: 30px;
  padding: rem(10) rem(18);
  position: relative;
}

.btn-signup {
  @include button-variant($background: rgba($purple, 0.2), $border: rgba($purple, 0), $hover-background: darken(rgba($purple, 0.2), 7.5%), $active-background: darken(rgba($purple, 0.2), 10%));
}

.btn-login {
  @include button-variant($background: rgba($purple, 0), $border: $purple, $hover-background: rgba($purple, 0.2), $active-background: rgba($purple, 0.125));

  &:hover,
  &:active {
    border-color: transparent !important;
  }
}

.btn-lang-toggle {
  background: transparent;
  box-shadow: none !important;
  color: $purple;
  height: 38px;
  line-height: 38px;
  padding: 0 rem(18);
  position: relative;

  .icon-caret {
    fill: $purple;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include size(10px, 6px);
  }
}

.btn-intro {
  @include button-variant($background: #1EECC2, $border: #1EECC2, $hover-background: darken(#1EECC2, 7.5%), $active-background: darken(#1EECC2, 10%));
  box-shadow: 0 8px 20px rgba(30, 236, 194, 0.25);
  color: #fff !important;
  font-size: rem(16);
  font-weight: 700;
  line-height: 20px;
  padding: rem(14) rem(30);
}

.btn-primary {
  color: #fff !important;
  font-size: rem(16);
  font-weight: 700;
  line-height: 20px;
  padding: rem(14) rem(30);
}

.btn-popup {
  color: #fff !important;
  font-size: rem(13);
  font-weight: 500;
  line-height: 18px;
  padding: rem(10) rem(18);
  position: relative;

  .fab {
    font-size: rem(16);
    left: 15px;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 20px;
  }

  &--login {
    width: 132px;
  }

  &--vk {
    @include button-variant($background: $bc-vkontakte, $border: $bc-vkontakte, $hover-background: darken($bc-vkontakte, 7.5%), $active-background: darken($bc-vkontakte, 10%));
  }

  &--facebook {
    @include button-variant($background: $bc-facebook, $border: $bc-facebook, $hover-background: darken($bc-facebook, 7.5%), $active-background: darken($bc-facebook, 10%));
  }
}

.btn-default {
  @include button-variant($background: $body-bg, $border: $border-color, $hover-background: darken(tint($border-color, 85%), 5%), $active-background: darken(tint($border-color, 85%), 7.5%));
  color: $dark !important;
  font-size: rem(13);
  font-weight: 500;
  line-height: 18px;
}

.btn-nav-back {
  align-items: center;
  display: inline-flex;
  padding: rem(10) rem(24) rem(10) rem(15);

  .icon-arrow-back {
    @include size(14px, 13px);
    margin-right: 9px;
  }
}