.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  overflow: hidden;
  padding: 4px 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: $zindex-dropdown;
  @include dropdown;
}

.dropdown-item {
  display: block;
  padding: 8px 18px;
  transition: $transition-base;

  &:hover {
    background-color: darken($white, 2%);
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.socials {
  display: flex;

  &__link {
    @include size(32px);
    align-items: center;
    border-radius: 50%;
    color: $purple;
    display: flex;
    font-size: rem(16);
    justify-content: center;
    position: relative;

    + .socials__link {
      margin-left: 20px;
    }

    &::before {
      @include absolute-all(0);
      border: 2px solid rgba($purple, 0.17);
      border-radius: 50%;
      content: '';
      transition: $transition-base;
      z-index: -1;
    }

    &:hover {
      background-color: rgba($purple, 0.17);
      color: #fff;

      &::before {
        opacity: 0;
      }
    }
  }
}