extends ../layout/main

block variables
  - var title = 'Commito'

block content
  include ../sections/section-intro
  include ../sections/section-roles
  include ../sections/section-system
  include ../sections/section-advantages
  include ../sections/section-features
