extends ../layout/main

block variables
  - var title = 'Commito'
  - var pageClass = 'page-index'

block content
  include ../modules/header
  main.main
    include ../sections/section-intro
    include ../sections/section-roles
    include ../sections/section-system
    include ../sections/section-advantages
    include ../sections/section-features
    include ../sections/section-integrations
    include ../sections/section-reviews
  include ../modules/footer
  include ../modules/modal-auth