include ../mixins
block variables

doctype html
|
|
<html class="no-js" lang="ru">
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title #{title}
  meta(name="viewport" content="width=1280, initial-scale=1, shrink-to-fit=no")
  link(href="./static/css/main.css" rel="stylesheet")
  script(src="./static/js/modernizr-custom.js")
body(class=pageClass)
  block content
  script(src="./static/js/libs.min.js")
  script(src="./static/js/main.js")
  block scripts
|
|
</html>